.action-button {
    background: #E2E4E6;
    border-radius: 3px;
    color: #8c8c8c;
    cursor: pointer;
    display: block;
    float: left;
    padding: 6px;
    margin: 5px;
}

.action-button:hover {
  background: #D6DADC;
}

.action-button:active {
  background: #CDD2D4;
}

a {
  font-family: "Helvetica";
}

a:hover {
    color: #111;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
