<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " href="/">Home</a>
      </li>
    </ul>
  </div>
</header>
<div class="container">
  <div class="row flex-xl-nowrap">
    <main class="col-12">
      <h1>
        {{ title }}
      </h1>
      <div class="content">
        <app-header text="Headers" size="h2"></app-header>
        <p>
          Headers are &lt;h1&gt; to &lt;h6&gt; html headings. The default is &lt;h1&gt;, but use the size property to set other
          heading sizes.  Use the text property to set the text. The optional upper property sets the text to uppercase.
          The default, false, displays the text as entered.
        </p>
        <app-header text="h1 Header Uppercase" size="h1" [upper]="true"></app-header>
        <app-header text="h2 Header" size="h2"></app-header>
        <app-header text="h3 Header" size="h3"></app-header>
        <app-header text="h4 Header" size="h4"></app-header>
        <app-header text="h5 Header" size="h5"></app-header>
        <app-header text="h6 Header" size="h6"></app-header>
        <pre>
          <code class="language-javascript">
            {{ headerSyntax }}
          </code>
        </pre>
      </div>

      <div class="content">
        <app-header text="Actions" size="h2"></app-header>
        <p>
          Actions are links that act as buttons. Set the text with the actionText property. Use the selected property to bind an event
          handler.
        </p>

        <div class="row no-gutters">
          <div class="col-lg-2 col-md-4">
            <app-action text="Add" (selected)="addClicked($event)"></app-action>
          </div>
          <div class="col">
            {{ addActionResult }}
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-2 col-md-4">
            <app-action text="Remove" (selected)="removeClicked($event)"></app-action>
          </div>
          <div class="col">
            {{ removeActionResult }}
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-2 col-md-4">
            <app-action text="Reset" (selected)="resetClicked($event)"></app-action>
          </div>
        </div>

        <pre>
          <code class="language-typescript">
            {{ actionSyntax }}
          </code>
        </pre>
      </div>

      <div class="content">
        <app-header text="List Items" size="h2"></app-header>
        <app-list-item text="This is a list item with a lot of text. It shows that text wrapping occurrs.  It also shows
          that as the text wraps the row height increases." (itemRemoved)="listItemRemoved()"></app-list-item>
        <app-list-item text="This is another list item." buttonText="Delete" (itemRemoved)="listItemRemoved()"></app-list-item>

        <pre>
          <code class="language-typescript">
            {{ listItemSyntax }}
          </code>
        </pre>
      </div>



    </main>
  </div>
</div>
