<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " href="/">Home</a>
      </li>
    </ul>
  </div>
</header>
<div class="container">
  <div class="row flex-xl-nowrap">
    <main class="col-12">
      <h1>
        {{title}}
      </h1>
      <div class="content">
        <app-header [headerText]="headers"></app-header>
        <p>
          Headers are h2 elements. Use the headerText property to set the text. The optonal upper property sets the case. The default is false.
        </p>
        <app-header [headerText]="header1" [upper]="true"></app-header>
        <app-header [headerText]="header2"></app-header>
        <pre>
          <code class="language-typescript">
            {{ headerSyntax }}
          </code>
        </pre>
      </div>

      <div class="content">
        <app-header [headerText]="actions"></app-header>
        <p>
          Actions are links that act as buttons. Set the text with the actionText property. Use the selected property to bind an event
          handler.
        </p>

        <div class="row no-gutters">
          <div class="col-lg-2 col-md-4">
            <app-action [actionText]="addAction" (selected)="addClicked($event)"></app-action>
          </div>
          <div class="col">
            {{addActionResult}}
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-2 col-md-4">
            <app-action [actionText]="removeAction" (selected)="removeClicked($event)"></app-action>
          </div>
          <div class="col">
            {{removeActionResult}}
          </div>
        </div>

        <pre>
          <code class="language-typescript">
            {{ actionSyntax }}
          </code>
        </pre>
      </div>

      <div class="content">
        <app-header [headerText]="listItems"></app-header>
        <app-list-item></app-list-item>
      </div>



    </main>
  </div>
</div>
